.auth-form {
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-bottom: 10px;
  padding: 8px;
}

.auth-form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}
